Error/Exception Handeling

In [ ]:
name = "title #syntax error

In [ ]:
num = 4
if num > 6

In [ ]:
num = 4
if num > 3:
            num +=1
    else:
        num += 2

In [ ]:
message = "string"
int_message = message / 4

In [ ]:
a = 10 / 0

In [ ]:
import pytorch

In [ ]:
a = 12
c+1

Python Data Types

In [ ]:
# Numerics

a = True
print(int(a)) # boolean always returns the value 1

x = 14
y = 7.8

print (x+y)

print(x//y)

print(x%y)

print(abs(x))

print(int(y)) #truncates

print(float(x))

z = complex(12,2) # think of 2 as 2i
print(z)
print(z+y+x)

print(pow(x,y))

print(round(y,0))

print(x,y,z)

In [ ]:
#Example 1

principal = 20000
apr = .06
years = 3
interest_frequency = 12

ending_balance = principal * ((1 + (apr/interest_frequency)) ** (years * interest_frequency))

print(ending_balance)

In [ ]:
#Sequences: ordered collection of items (lists, series, range, tuples)

x = 2
s = [1,2, 3, 4]
t = [5, 6]
n = 2
i = 2
j = 3
k = 2

print(x in s)
print(x in t)
print(x not in t)

print(s+t)

print(s * n) # concatenates s with s n times

print(s[i]) #first value is always indexed at 0

print(s[0:6]) #no error, just returns the full sequence

print(s[1:3]) #does NOT return ending index (stops before)

print(s[1:3:2]) # does not return the ending index

print(len(s)) #starts counting from 1

print(min(t))

print(max(t))

#print(s.index(0)) #ValueError index not found

print(s.index(3))

print(s.count(4))

In [ ]:
#list: mutable sequence

new_list = list() #creates new list

s = [1,2,3,4]

i, x = 1,4

s.sort(reverse = True)

print(s)

s.sort()

print(s)

#print(s.append(x)) returns none, doesn't work for mutables

s.append(x)

print(s)

s.insert(i,x)

print(s)

s.remove(x)

print(s)

s.pop(i)

s.reverse()

print(s)

In [ ]:
#List Comprehension

seq = [0, 1, 2, 3, 4, 5]

even_seq = [ num for num in seq if num % 2 == 0]

print(even_seq)

odd_seq = [ num for num in seq if num % 2 != 0]

print(odd_seq)

In [ ]:
#Tuples

new_tuple = 0,
print(type(new_tuple))

new_tuple = ()

print(type(new_tuple))

new_tuple = (1,2)

print(type(new_tuple))

In [ ]:
#Example 2 

ex = [1, 1, 2]

def remove_elements(lst):
    list_copy = lst.copy()
    for element in list_copy:
        if list_copy.count(element) > 1:
            list_copy.remove(element)
    list_copy.sort()
    return list_copy

remove_elements(ex)

In [ ]:
#range

rng = range(0, 10, 2)

print(rng) # returns range object, not the sequence

print(list(rng)) # converts range object to a sequence

In [ ]:
#Strings

str = " Hello, Everyone!"

suffix = "!"

prefix = "Hello"

sub = "one"

char = " "
sep = ","
old = "Everyone"
new = "Everybody"

print(str.endswith(suffix)) #True

print(str.startswith(prefix)) #False because of leading space

str.find(sub) #returns index of first character of first instance of sub

print(str.islower())

print(str.isupper())

test_str = "Hello Everyone"

print(str.isalpha()) #spaces not considered alphabetical

print(test_str.isalpha())

print(str.isnumeric())

print(str.lower())

print(str.upper())

print(str.strip(char))

print(str.strip(" !"))

str.split(sep)

str.replace(old, new)

In [ ]:
#Example 3

s = "abcdefg" 
k = 2

def reverse_str(lst, n):
    output = list()
    for i in range(0, len(lst), 2*k): # only values are 0 and 4, (ie where we want to start reversing)
        temp_list = list(lst[i:i+k:1]) #slices where we want to reverse and converts to list
        temp_list.reverse() #reverses
        output += temp_list + list([lst[k+i:2*k+i]]) # slices part of string we don't want to change
    return "".join(output) #join converts list back to string

reverse_str(s, k)

In [ ]:
#Example 4

tuple1 = (10,4,5)
tuple2 = (2,5,18)

def max_among_tuples(tuple1, tuple2):
    output = list()

    len1 = len(tuple1)
    len2 = len(tuple2)

    if len1 > len2:
        length = len2
    else:
        length = len1

    for i in range(0,length):
        if tuple1[i] > tuple2[i]:
            output.append(tuple1[i])
        else:
            output.append(tuple2[i])
    
    output_tuple = tuple(output)

    return output_tuple

max_among_tuples(tuple1, tuple2)

tuple1 = (1, 8, 13, 24)
tuple2 = (1, 10)

max_among_tuples(tuple1, tuple2)

In [11]:
#Dictionaries

empty_dict = dict()

d = {"A":"a", "B":"b", "C": "c"}
k = "C"
value = "c!"

print(list(d)) #list of values

d[k]

d[k] = value

#print(d)

print(iter(d))
print(d.keys())
print(d.values())

print(d.items()) #list of key value tuples

['A', 'B', 'C']
<dict_keyiterator object at 0x109518310>
dict_keys(['A', 'B', 'C'])
dict_values(['a', 'b', 'c!'])
dict_items([('A', 'a'), ('B', 'b'), ('C', 'c!')])

In [ ]:
#Sets

empty_set = set()

s = {1,2,3,4}
item = 4
x = 4
other = {2,3}

s.add(item)
print(s)

s.remove(item)
print(s)

print(x in s)

print(s.isdisjoint(other))

print(s.issubset(other))

print(s.issuperset(other))

print(s.union(other))

print(s.intersection(other))

print(s.difference(other))

In [ ]:
#Example 5

classes = ["computation-MSDS597",
           "statistics-MSDS504", 
           "computation-MSDS501", 
           "computation-MSDS501", 
           "statistics-MSDS504"]

def class_dictionary(lst):
    
    output_dict = dict()

    for course in classes:

        split_course = course.split("-")
        category = split_course[0]
        course_id = split_course[1]

        if category in output_dict.keys():
            output_dict[category].add(course_id)
        else:
            output_dict[category] = {course_id} #makes the key a set
    
    return output_dict

class_dictionary(classes)

new_list = list()

for key, value in class_dictionary(classes).items():
    if key == "computation":
        print(list(value))

In [ ]:
#Example 7

nums = [2,7,11,15]

target = 9

def two_sum(lst, n):
    output_list = list()

    for i in range(0,len(lst)):
        for j in range (i+1, len(lst)):
            if lst[i] + lst[j] == n:
                output_list.append(i)
                output_list.append(j)

    return output_list

two_sum(nums, target)

In [ ]:
#Day 4
#Example 1

classes = {"msds501":{"instructor":"Diane Woodbridge", "classroom": [144, 145, 146, 527]},
        "msds502":{"instructor":"Robert Clements", "classroom": [527, 529]}}

list_1 = list()

for key,value in classes.items():
    #empty_list = list()
    #empty_list.append(key)
    #empty_list.append(classes[key]["instructor"])
    list_1.append((key, classes[key]["instructor"]))

list_1.sort()
print(list_1)

list_2 = set()

for key,value in classes.items():
    for classrooms in classes[key]["classroom"]:
        list_2.add(classrooms)

list_2 = list(list_2)
list_2.sort()
print(list_2)

[('msds501', 'Diane Woodbridge'), ('msds502', 'Robert Clements')]
[('msds501', 'Diane Woodbridge'), ('msds502', 'Robert Clements')]
[144, 145, 146, 527, 529]

In [ ]:
#Example 2

arr = [1,0,2,3,0,4,5,0]

len_arr = len(arr)

i = 0

while i < len_arr: #while loop is better if you're not going one by one
    if arr[i] == 0:
        arr.insert(i, 0)
        i+=1
    i+=1

arr = arr[0:len_arr]

print(arr)

[1, 0, 0, 2, 3, 0, 0, 4]

In [ ]:
#Example 3

#might want to try again for syntax

data = {"Elsa":89, "Anna":90, "Olaf":95, "Kristoff":73, "Hans":40}

for key,value in data.items():
    match data[key]:
        case x if x > 90:
            grade = 'A'
        case x if x > 80:
            grade = 'B'
        case x if x > 70:
            grade = 'C'
        case _:
            grade = 'F'
    
    data[key] = (data[key], grade)

print(data)

{'Elsa': (89, 'B'), 'Anna': (90, 'B'), 'Olaf': (95, 'A'), 'Kristoff': (73, 'C'), 'Hans': (40, 'F')}

In [ ]:
#user_input = input("Enter a positive number (0 to stop):")

#user_num = int(user_input)

while True:

    try:

        user_num= int(input("Enter a positive number (0 to stop):"))

    except:

        print("input is not a number, please enter a positive number")

    if user_num < 0:
        print("user_input is not a positive number")
        continue
    
    elif user_num == 0:
        break

    if (user_num < 2):
        print("user_input is not a prime number")
        continue

 
    for i in list(range(2, user_num)):
        if user_num % i == 0:
            print("user_input is not a prime number")
            break

    else:
         print("user_input is a prime number")

user_input is a prime number
input is not a number, please enter a positive number
user_input is a prime number

In [ ]:
{i for i in range(0,10) if i > 5}

contact = [{"name": "Diane", "city": "San Francisco"}, {"name": "Laura", "city": "Los Angeles"}, {"name": "Robert", "city": "San Francisco"}]

empty_list = list()

for entry in contact:
    print(entry["city"])
    if entry["city"] not in empty_list:
        empty_list.append(entry["city"])

empty_list.sort()
print(empty_list)

enumerate(empty_list, 1) #returns enumerate object

list(enumerate(empty_list,1)) #returns list of value, index pairs

San Francisco
Los Angeles
San Francisco
['Los Angeles', 'San Francisco']

[(1, 'Los Angeles'), (2, 'San Francisco')]

In [12]:
x = 5

"x is greater than 5" if x > 5 else "x less than 5"

'x less than 5'

In [19]:
#zip

names   = ['Bob', 'Alice', 'Charlie', 'Dana', 'Eli']
midterm = [82, 91, 70, 88, 73]
final   = [94, 85, 80, 90, 79]

print(list(zip(names, midterm, final)))

new_dict = dict()

for names, midterm, final in zip(names, midterm, final):
    avg_score = (midterm+final)/2

    match avg_score:
        case x if  x >= 90:
            letter_grade = 'A'
        case x if x >= 80:
            letter_grade = 'B'
        case x if x >= 70:
            letter_grade = 'C'
        case _:
            letter_grade = 'F'
    
    new_dict[names] = (avg_score, letter_grade)

print(new_dict)

[('Bob', 82, 94), ('Alice', 91, 85), ('Charlie', 70, 80), ('Dana', 88, 90), ('Eli', 73, 79)]
{'Bob': (88.0, 'B'), 'Alice': (88.0, 'B'), 'Charlie': (75.0, 'C'), 'Dana': (89.0, 'B'), 'Eli': (76.0, 'C')}

In [ ]:
print(list(range(0, 7, 4)))

In [ ]:
set1 = {1,2,3}
set2 = {4,5,6}

set1.union(set2)

In [23]:
orders = [{"id": 1234, "phone": "415444"},{"id": 1236, "phone": "415444"},{"id": 1235, "phone": "415444"}]

#{entries["phone"] for entries in orders}
set([entries["phone"] for entries in orders])

{'415444'}

In [25]:
#practice use dict comprehension for phone numers starting with 415

{"415":order["phone"] for order in orders if order["phone"].startswith("415")}

{'415': '415444'}